.companies-row{
    @include make-row();
    padding-bottom:40px;
    justify-content:center;
    align-items:center;
}
.companies{
    @include make-col(9);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.company{
    &:not(:last-child){
        margin-right:35px;
    }
}
